<!-- start custom footer snippets -->
<div style='font-family: Courier Prime,courier,monospace'>
	<h3 class='footer' style='font-family: Courier Prime,courier,monospace; margin-bottom:6px;'>Hobart Hackerspace Inc.</h3>
<div style='margin-left: 1em; font-size:90%; line-height:90%;'><address>
2 St Johns Avenue<br>New Town, Tasmania, 7008<br>Australia
</address></div></div>
<div class='.page__footer-copyright' style='font-size:60%;'><p><a href="https://cbos.tas.gov.au/topics/clubs-fundraising/incorporated-associations/what-is-incorporated-association">Tasmanian not-for-profit reg. no. IA12014</a>&nbsp;&nbsp;<a href="https://abr.business.gov.au/ABN/View?abn=68986261687">ABN: 68 986 261 687</a></p></div>
{% include open-embed.html %}
<!-- end custom footer snippets -->
