<form action="https://public.herotofu.com/v1/8275f820-3eb7-11ed-a10f-d1a38bd15d37" method="POST" target="_blank">
  <label>
    🔴 Your name: 
    <input type="name" name="name" required>
  </label>
  <label>
    🔴 Your email address: 
    <input type="email" name="email" required>
  </label>
  <label>
    🔴 Your message:
    <textarea rows=3 name="message" required></textarea>
  </label>
  <!-- not required for HeroTofu div class="g-recaptcha" data-sitekey="6LdbtzciAAAAAEeG-Ori9oxyD5GbbJQpmtvMgF6r"></div-->
  <br/>
  <input type="submit" value="Submit">
</form>
<!--p>My current markdown engine is as follows:  {{ site.markdown }}.</p-->
